body {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 600;
    font-style: normal;
    background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stp-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 8px;
    width: 80%;
}

.first-section img {
    width: 55%;
}

.stp-1 .right {
    background-color: white;
    height: auto;
    width: 20%;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.right .score-text {
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 700;
}

.right .score {
    color: hsl(229, 25%, 31%);
    font-size: 2.2rem;
    font-weight: 700;
}


.stp-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;

}

.triangle-container {
    position: relative;
    justify-content: center;
    align-items: center;
    background: url('./images/bg-triangle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 8rem;
    width: 150px;
    height: 150px;
}

.corner-text {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: white;
}


.icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 6px;
}

.icon-bg img {
    width: 50%;
}

.corner-text .icon-bg-outside {
    background-color: hsla(217, 24%, 80%, 1);
    border-radius: 50%;
}

.paper-div {
    bottom: 7px;
    background: linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.paper-div-outside {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 50%, 26%));
    background-size: cover;

}

.scissors-div {
    bottom: 7px;
    background: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scissors-div-outside {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    background: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 50%, 26%));
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rock-div {
    bottom: 7px;
    background: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rock-div-outside {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    background: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 75%, 24%));
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-3 {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 80px;
    
}

.step-3 .btn{
    width: 100%;
    padding: 5px;
    color: white;
    border: 2px solid hsl(217, 16%, 45%);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    border-radius: 7px;
}

@media screen and (min-width:768px) {
    .stp-1 {
        width : 40%;
    }
    .first-section img {
        width: 70%;
    }
    .right .score-text {
        font-size: 1rem;
        font-weight: 600;
    }
    
    .right .score {
        font-size: 2.8rem;
        font-weight: 700;
    }
    .icon-bg {
        width: 110px;
        height: 110px
    }

    .triangle-container {
        width: 200px;
        height: 200px
    }
    .paper-div, .scissors-div, .rock-div {
        width: 150px;
        height: 150px
    }
    .paper-div-outside, .scissors-div-outside, .rock-div-outside {
        width: 150px;
        height: 150px
    }
    .step-3{
        right:0;
        margin-right:1rem;
       
    }
}